@import './base.css'; 

.header{
    position: sticky;
    top: 0;
    padding: 20px 0;
    box-shadow: 0px 6.6474391222000122px 8.23719596862793px rgba(0, 0, 0, 0.1);
}
.logo{
    display: flex;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;
}
.logo img{
    width: 30px;
}
.logo a{
    font-size: small;
    color: var(--main-color);
}
nav ul{
    display: flex;
    gap: 60px;
    flex-wrap: wrap;
}
nav ul .active{
    font-weight: 900;
}
nav ul li a{
    color: black;
}
.header .auth a{
    color: var(--main-color);
    padding: 10px 30px;
    border: 1px solid var(--main-color);
    border-radius: 8px;
    font-weight: 700;
    font-family: var(--subFont);
}
.header .auth a:last-child{
    background-color: var(--main-color);
    color: white;
}
@media (max-width:1232px) {
    nav{
        display: none;
    }
    
}