@import './base.css'; 

/* Start Nav Bar */
.header{
    position: sticky;
    top: 0;
    padding: 20px 0;
    box-shadow: 0px 6.6474391222000122px 8.23719596862793px rgba(0, 0, 0, 0.1);
}
.logo{
    display: flex;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;
}
.logo img{
    width: 30px;
}
.logo a{
    font-size: small;
    color: var(--main-color);
}
nav ul{
    display: flex;
    gap: 60px;
    flex-wrap: wrap;
}
nav ul .active{
    font-weight: 900;
}
nav ul li a{
    color: black;
}
.header .auth a{
    color: var(--main-color);
    padding: 10px 30px;
    border: 1px solid var(--main-color);
    border-radius: 8px;
    font-weight: 700;
    font-family: var(--subFont);
}
.header .auth a:last-child{
    background-color: var(--main-color);
    color: white;
}
@media (max-width:1232px) {
    nav{
        display: none;
    }
    
}
/* End Nav Bar */

/* Start Footer */
.footer{
    background-color: #393E46;
    color: white;
    padding: 60px 0;
}
.footer .row{
    gap: 50px;
}
.footer-lift-side , .footer-right-side{
    width: calc((100% - 50px) / 2);
}
.footer-lift-side{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 30px;
}
.footer-lift-side .logo{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.footer-lift-side .logo a{
    color: white;
}
.footer-lift-side p{
    font-size: 12px;
    line-height: 20px;
}
.footer-lift-side .icon{
display: flex;
flex-wrap: wrap;
gap: 15px;

}

.footer-lift-side .icon a img{
    width: 15px;
    height: 15px;
    box-sizing: content-box; /*if we dont use box-sizing: content-box; , the icon will disapeare becouse box-sizing: sizing-box; */
    border: 1px white solid;
    padding: 10px;
}
.footer-right-side{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.footer-right-side .nav{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
}
.footer-right-side .nav ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 7px;
}
.footer-right-side .nav h3{
    font-size: 15px;
}
.footer-right-side .nav ul li a{
    font-size: 12px;
    color: white;
}
/* End Footer */